<div class="homepage">
  <div class="homepage__header">
      <div class="container">
        <div class="center-xs row">
          <div class="box">
            <h2>{{name}}</h2>
            </div>
          </div>
      </div>
  </div>
  <p class="homepage__intro">To get started, edit src/components/home-page/HomePage.js and save to reload.</p>
</div>
