@import 'homepage.css';
@import 'productpage.css';
@import 'shippingpage.css';

body {
  background-color: #FFF;
  transition: background-color .2s ease-in;
    color: #333;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    position: relative;
    cursor: default;
}

