<div class="productpage">
    <div class="productpage__header">
    </div>
    <div class="container">
        <div class="start-xs row">
            <div class="col-xs-6">
                <div class="box">
                    <h2>{{name}}</h2>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <br><br>
</div>